@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.closing {
  transform-origin: bottom right !important;
  animation: closinAnimation 0.8s backwards !important;
}
@keyframes closinAnimation {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
.showans {
  height: 20rem !important;
  max-height: 20rem !important;
  overflow-y: auto !important;
  cursor: auto !important;
  pointer-events: none !important;
}
.singleQNA {
  margin-bottom: 1rem;
}
.hide-overflow {
  overflow-y: hidden !important;
}
